<% content_for :sub_title do %>
	Create Contact
<% end %>

<div class="w3-white w3-padding-16 w3-container w3-card w3-section">
	<form action="" name="Form" class="">
		<div class="w3-margin-top">
			<div class="w3-margin-bottom w3-padding-8">
				<label for="favorite">
					<input type="checkbox" placeholder="Favorite" class="" name="favorite">
					<i class="fa fa-thumbs-up fa-fw w3-large w3-text-black"></i>Favorite</label><br>
			</div>
			<div class="w3-row">
				<div class="w3-col l6 w3-margin-bottom w3-padding-8">
					<label for="user.firstName"><i class="fa fa-user fa-fw w3-large w3-text-black"></i></label>
					<input type="text" class="w3-input contactFormLength" placeholder="First Name" name="user.firstName" required="">
				</div>
				<div class="w3-col l6 w3-margin-bottom w3-padding-8">
					<label for="user.lastName"><i class="fa fa-user fa-fw w3-large w3-text-black"></i></label>
					<input type="text" class="w3-input contactFormLength" placeholder="Last Name" name="user.lastName" required="">
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-margin-bottom w3-padding-8 w3-col l6">
					<label for="title"><i class="fa fa-suitcase fa-fw w3-large w3-text-black"></i></label>
					<input type="text" class="w3-input contactFormLength" placeholder="Title" name="title">
				</div>
				<div class="w3-margin-bottom w3-padding-8 w3-col l6">
					<label for="company"><i class="fa fa-building fa-fw w3-large w3-text-black"></i></label>
					<input type="text" class="w3-input contactFormLength" placeholder="Company" name="company">
				</div>
			</div>
			<div>
				<div class="w3-margin-bottom w3-padding-8 w3-col l6">
					<label for="phone"><i class="fa fa-phone fa-fw w3-large w3-text-black"></i></label>
					<input type="text" class="w3-input contactFormLength" placeholder="Phone" name="phone">
				</div>
				<div class="w3-margin-bottom w3-padding-8 w3-col l6">
					<label for="email"><i class="fa fa-envelope fa-fw w3-large w3-text-black"></i></label>
					<input type="text" class="w3-input contactFormLength" placeholder="Email" name="email">
				</div>
			</div>
			<div class="w3-margin-bottom w3-padding-8">
				<label for="address"><i class="fa fa-location-arrow fa-fw w3-large w3-text-black"></i></label>
				<input type="text" class="w3-input contactFormLength" placeholder="Address" name="address">
			</div>
			<div class="w3-margin-bottom w3-padding-8">
				<label for="avatar"><i class="fa fa-image fa-fw w3-large w3-text-black"></i> Profile Picture</label>
				<input type="file" class="w3-input contactFormLength" data-file="user.avatar" name="avatar">
			</div>
		</div>
		<div class="w3-margin-bottom w3-padding-16 contactFormLength">
			<button type="submit" class="w3-btn buttonColorTheme w3-left">Add Contact</button>
			<button type="reset" class="w3-btn buttonColorTheme w3-right">Clear</button>
		</div>
	</form>
</div>