<% content_for :sub_title do %>
  Edit Contact
<% end %>

<%= link_to :back, class: " w3-margin-bottom" do %>
  <button class="w3-btn buttonColorTheme">Back</button>
<% end %>

<%= form_with model: [@user, @contact] do |form| %>
  <%= render 'form', form: form %>
<% end %>
