<div class="container col-xl-10 col-xxl-8 px-4 py-3">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-12 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3 text-center">Kontakt</h1>
      <%= image_tag("kontakt.png", width: "100%") %>
      <p class="col-lg-12 fs-4 py-2 text-center">A contact management application that allows you to keep track of your
        contacts.</p>
    </div>
  </div>
</div>
